/* UNIVERSAL STYLES */

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: rgb(216, 216, 216);
    color: rgb(74, 74, 74);
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

h2.section-title {
    margin: 32px 0px 0px 0px;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}

p {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 300;
}

header a {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: rgb(85, 128, 174);
    font-size: 0.8rem;
}

button {
    padding: 8px;
    background-color: rgb(74, 74, 74);
    color: white;
    font-weight: 300;
    font-size: 1rem;
    border: none;
    width: 100%;
}

.wrapper {
    position: relative;
    top: 65px;
}

.grid-container {
    display: grid;
    padding: 32px 24px;
}

.img {
    width: 100%;
    height: auto;
}

.banner-image-container {
    grid-column: 1 / 2;
    margin-right: 24px;
}

.banner-image-descrip {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-right: 24px;
}

.thumbnail-image-container {
    grid-column: 1 / 2;
    padding: 16px;
    display: flex;
    align-items: center;
}

.read-more-content-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 16px;
}

/* HEADER SECTION */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 64px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.logo {
    padding-left: 24px;
}

span.logo-bold {
    font-weight: 700;
    font-size: 1.5rem;
}

span.logo-light {
    font-weight: 300;
    font-size: 1.5rem;
}

img, span.logo-bold, span.logo-light {
    vertical-align: middle;
}

.nav-bar {
    padding-right: 24px;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(74, 74, 74);
    padding-left: 16px;
}

/* CTA SECTION */

.cta {
    grid-template-columns: 60% 40%;
    background-color: rgb(216, 216, 216);
}

.cta-content-container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1 {
    margin-bottom: 40px;
    width: 70%;
}

.box2 {
    margin-bottom: 40px;
    width: 75%;
}

.box3 {
    width: 60%;
}

/* CAMPUS INFO SECTION */

.campus-info {
    grid-template-columns: 60% 40%;
    background-color: white;
}

.read-more-grid-container {
    grid-template-rows: 1 / 2;
    grid-template-columns: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5px;
    background-color: white;
    border-left: 1px solid rgb(216, 216, 216);
}

.link-box-white {
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: white;
    border-top: 2px solid rgb(216, 216, 216);
    border-right: 1px solid rgb(216, 216, 216);
}

.link-box-gray {
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: rgb(216, 216, 216);
}

h4, p, a {
    padding: 8px 0px;
}

.banner-image-container h2 {
    margin: 24px 0px;
}

.banner-image-container span {
    font-size: 0.75rem;
    display: block;
    margin-top: 20px;
}

/* START LEARNING SECTION */

.start-learning {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0px 72px 32px 72px;
    grid-gap: 32px;
}

.course-grid-box-1 {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.course-grid-box-2 {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.course-grid-box-3 {
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.course-grid-box-4 {
    background-color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.course-grid-box-5 {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.course-grid-box-6 {
    background-color: white;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.course-image-container {

}

.course-content-container {
    padding: 16px 16px 24px 16px;
}

/* EXHIBIT SECTION */

.thesis-exhibit {
    background-color: white;
    grid-template-columns: 60% 40%;
}

.section-title-container {
    background-color: white;
}

.white-container {
    background-color: white;
    padding-top: 16px;
}

/* FOOTER SECTION */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-top: 1px solid rgb(216, 216, 216);
    padding: 16px 24px 48px 24px;
}

.footer span {
    color: rgb(74, 74, 74);
    font-size: 0.75rem;
}